/* src/fonts.css or inside App.css */
@font-face {
  font-family: 'Muttcha';
  src: url('assets/fonts/Muttcha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Muttcha', sans-serif;
}
input,
textarea {
  text-transform: none !important;
}
.skill-overlay:hover .skill-progress {
  transform: translateX(0);
}
